In [2]:
import pandas as pd
df = pd.read_csv('cleaned_kidney_for_R.csv')

In [8]:
df.info()
print('Columns with object type {}'.format(len(df.select_dtypes(object).columns)))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     400 non-null    float64
 1   BloodPressure           400 non-null    float64
 2   SpecificGravityUrine    400 non-null    float64
 3   Albumin                 400 non-null    float64
 4   Sugar                   400 non-null    float64
 5   RedBloodCells           400 non-null    int64
 6   PusCell                 400 non-null    int64
 7   PusCellClumps           400 non-null    int64
 8   Bacteria                400 non-null    int64
 9   BloodGlucose            400 non-null    float64
 10  BloodUrea               400 non-null    float64
 11  SerumCreatine           400 non-null    float64
 12  Sodium                  400 non-null    float64
 13  Potassium               400 non-null    float64
 14  Hemoglobin              400 non-null    float64
 15  PackedCellVolume        400 non-null    float64
 16  WhiteBloodCellCount     400 non-null    float64
 17  RedBloodCellCount       400 non-null    float64
 18  Hypertension            400 non-null    int64
 19  DiabetesMellitus        400 non-null    int64
 20  CoronaryArterieDisease  400 non-null    int64
 21  Appetite                400 non-null    int64
 22  PedalEdema              400 non-null    int64
 23  Anemia                  400 non-null    int64
 24  Ckd                     400 non-null    int64
dtypes: float64(14), int64(11)
memory usage: 78.2 KB
Columns with object type 0

In [10]:
df.describe()

,Age,BloodPressure,SpecificGravityUrine,Albumin,Sugar,RedBloodCells,PusCell,PusCellClumps,Bacteria,BloodGlucose,...,PackedCellVolume,WhiteBloodCellCount,RedBloodCellCount,Hypertension,DiabetesMellitus,CoronaryArterieDisease,Appetite,PedalEdema,Anemia,Ckd
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,...,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,51.483376,76.469072,1.017408,1.016949,0.450142,0.882500,0.810000,0.105000,0.055000,148.036517,...,39.255639,8772.932331,4.867920,0.367500,0.34250,0.085000,0.795000,0.190000,0.150000,0.625000
std,16.974966,13.476298,0.005369,1.272318,1.029487,0.322418,0.392792,0.306937,0.228266,74.782634,...,8.190698,2596.801420,0.871448,0.482728,0.47514,0.279231,0.404207,0.392792,0.357519,0.484729
min,2.000000,50.000000,1.005000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.000000,...,9.000000,2200.000000,2.100000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,42.000000,70.000000,1.015000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,101.000000,...,34.000000,6975.000000,4.500000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,54.000000,78.234536,1.017408,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,126.000000,...,41.000000,9400.000000,5.200000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,64.000000,80.000000,1.020000,2.000000,0.450142,1.000000,1.000000,0.000000,0.000000,150.000000,...,44.000000,9800.000000,5.200000,1.000000,1.00000,0.000000,1.000000,0.000000,0.000000,1.000000
max,90.000000,180.000000,1.025000,5.000000,5.000000,1.000000,1.000000,1.000000,1.000000,490.000000,...,54.000000,26400.000000,8.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
(df.dtypes == 'float64').sum()

14

In [20]:
(df.dtypes == 'int64').sum()

11

In [25]:
numerical_columns = df.dtypes[(df.dtypes == 'float64')].index.values

In [26]:
numerical_columns

array(['Age', 'BloodPressure', 'SpecificGravityUrine', 'Albumin', 'Sugar',
       'BloodGlucose', 'BloodUrea', 'SerumCreatine', 'Sodium',
       'Potassium', 'Hemoglobin', 'PackedCellVolume',
       'WhiteBloodCellCount', 'RedBloodCellCount'], dtype=object)

In [33]:
#To remove ['SpecificGravityUrine', 'Albumin', 'Sugar'])
numerical_columns =[x for x in  list(['Age', 'BloodPressure', 'SpecificGravityUrine', 'Albumin', 'Sugar',
       'BloodGlucose', 'BloodUrea', 'SerumCreatine', 'Sodium',
       'Potassium', 'Hemoglobin', 'PackedCellVolume',
       'WhiteBloodCellCount', 'RedBloodCellCount']) if x not in list(['SpecificGravityUrine', 'Albumin', 'Sugar'])]
numerical_columns

['Age',
 'BloodPressure',
 'BloodGlucose',
 'BloodUrea',
 'SerumCreatine',
 'Sodium',
 'Potassium',
 'Hemoglobin',
 'PackedCellVolume',
 'WhiteBloodCellCount',
 'RedBloodCellCount']

In [34]:
len(numerical_columns)

11

In [47]:
from sklearn.preprocessing import MinMaxScaler

def scale_column(column):
    scaler = MinMaxScaler()
    result = scaler.fit_transform(pd.DataFrame(column))[:,0]
    print(result.shape)
    return result

df_scaled = df.copy()

df_scaled[numerical_columns] = df[numerical_columns].apply(scale_column, axis=0)

df_scaled.head()

(400,)
(400,)
(400,)
(400,)
(400,)
(400,)
(400,)
(400,)
(400,)
(400,)
(400,)

,Age,BloodPressure,SpecificGravityUrine,Albumin,Sugar,RedBloodCells,PusCell,PusCellClumps,Bacteria,BloodGlucose,...,PackedCellVolume,WhiteBloodCellCount,RedBloodCellCount,Hypertension,DiabetesMellitus,CoronaryArterieDisease,Appetite,PedalEdema,Anemia,Ckd
0,0.522727,0.230769,1.020,1.0,0.0,1,1,0,0,0.211538,...,0.777778,0.231405,0.525424,1,1,0,1,0,0,1
1,0.056818,0.000000,1.020,4.0,0.0,1,1,0,0,0.269309,...,0.644444,0.157025,0.525424,0,0,0,1,0,0,1
2,0.681818,0.230769,1.010,2.0,3.0,1,1,0,0,0.856838,...,0.488889,0.219008,0.525424,0,1,0,0,0,1,1
3,0.522727,0.153846,1.005,4.0,0.0,1,0,1,0,0.202991,...,0.511111,0.185950,0.305085,1,0,0,0,1,1,1
4,0.556818,0.230769,1.010,2.0,0.0,1,1,0,0,0.179487,...,0.577778,0.210744,0.423729,0,0,0,1,0,0,1

In [49]:
df_scaled.describe()

,Age,BloodPressure,SpecificGravityUrine,Albumin,Sugar,RedBloodCells,PusCell,PusCellClumps,Bacteria,BloodGlucose,...,PackedCellVolume,WhiteBloodCellCount,RedBloodCellCount,Hypertension,DiabetesMellitus,CoronaryArterieDisease,Appetite,PedalEdema,Anemia,Ckd
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,...,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,0.562311,0.203608,1.017408,1.016949,0.450142,0.882500,0.810000,0.105000,0.055000,0.269309,...,0.672348,0.271609,0.469139,0.367500,0.34250,0.085000,0.795000,0.190000,0.150000,0.625000
std,0.192897,0.103664,0.005369,1.272318,1.029487,0.322418,0.392792,0.306937,0.228266,0.159792,...,0.182016,0.107306,0.147703,0.482728,0.47514,0.279231,0.404207,0.392792,0.357519,0.484729
min,0.000000,0.000000,1.005000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.454545,0.153846,1.015000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.168803,...,0.555556,0.197314,0.406780,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,0.590909,0.217189,1.017408,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.222222,...,0.711111,0.297521,0.525424,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,0.704545,0.230769,1.020000,2.000000,0.450142,1.000000,1.000000,0.000000,0.000000,0.273504,...,0.777778,0.314050,0.525424,1.000000,1.00000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.025000,5.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000

In [50]:
df_scaled.to_csv('scaled_cleaned_kidney_for_R.csv')